<header>
    <div class="logo-container">
        <img src="../../../assets/images/logo.png" alt="logo" width="60" height="60" class="logo-img">
        <h1 class="logo-text">Leonardo Barbosa</h1>
    </div>
    <nav class="header-nav">
        <ul>
            <li ><a href="*" class="nav-link">Home</a></li>
            <li><a href="*" class="nav-link">Sobre mim</a></li>
            <li ><a href="*" class="nav-link">Experiências</a></li>
            <li><a href="*" class="nav-link">Projetos</a></li>
            <li><a href="*" class="nav-link">Relatos</a></li>
            <li><a href="*" class="nav-link">Contato</a></li>
        </ul>
    </nav>
</header>