/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1b1f24;
    font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
}